.logo{
   height:78px;
   background-color: #484e54;
   position:relative;
   width:100%;
   padding:0;
}
.logo img{
   padding: 7px;
}
h1{
   font-size: 30px;
   font-family: arial;
   color: #ffffff;
   text-align: center;
   padding: 0px;
   margin:5px;
   font-weight: normal;
   display: inline-block;
   margin-left:15px;
   margin-top: -50px;
   vertical-align: middle;
}
body{
   padding:0;
   margin:0;
   background-color: #777779;
}

.states {
   fill: #d5d5d5;
   stroke: #fff;
   stroke-width: 0.75px;
}
#CA, #TX {
   fill: #5eea3d;
}
#CA:hover, #TX:hover {
   fill: #777779;
   cursor: pointer;
}
#viz1 {
   margin:2%;
   padding:20px;
   border:2px solid #d0d0d0;
   border-radius: 5px;
}

.axis path,
.axis line {
   fill: none;
   stroke: black;
   shape-rendering: crispEdges;
}

.axis text {
   font-family: sans-serif;
   font-size: 11px;
}

.top_ten_cities {
   cursor: pointer;
}